* {
    box-sizing: border-box;
}

body {
    align-items: center;
    background: -moz-radial-gradient(center, ellipse cover, #edf3f8 1%, #dee3e8 100%);
    background: -webkit-radial-gradient(center, ellipse cover, #edf3f8 1%, #dee3e8 100%);
    background: radial-gradient(ellipse at center, #edf3f8 1%, #dee3e8 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */
    width: 100vw;
}

body::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}

html::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}

:root {
    --react-blue: #61DBFB;
}

a {
    color: #000;
    font-family: 'Cabin', cursive;
    font-style: italic !important;
    font-weight: bold !important;
}

h1,
h2,
h3,
h4 {
    color: #24212A;
    font-family: 'Cabin', cursive;
    text-decoration: underline;
}

.menu {
    position: sticky;
    top: 40px;
    padding: 30px;
    background: #FFF;
    border-radius: 100%;
    cursor: pointer;
    box-shadow: 7px 7px 15px rgba(36, 50, 90, 0.3), -7px -7px 20px rgba(255, 255, 255, 1), inset 0px 0px 4px rgba(255, 255, 255, 0.2), inset 7px 7px 15px rgba(55, 84, 170, 0), inset -7px -7px 20px rgba(255, 255, 255, 0), 0px 0px 4px rgba(255, 255, 255, 0);
}

.menu::before,
.menu::after {
    content: "";
    background: #807f83;
    border-radius: 5px;
    width: 30px;
    height: 5px;
    position: absolute;
    left: 16px;
    top: 27px;
    transition: 0.2s ease;
    z-index: 1;
}

.menu::before {
    transform: rotate(0deg);
}

.menu::after {
    transform: rotate(-90deg);
}

.menu.open {
    opacity: 0.9;
}

.menu.open::before {
    transform: rotate(45deg);
}

.menu.open::after {
    transform: rotate(-45deg);
}

.menu.open .button {
    opacity: 1;
    pointer-events: auto;
}

.menu.open .button:first-of-type {
    bottom: 0px;
    right: 100px;
}

.menu.open .button:nth-of-type(2) {
    bottom: -90px;
    right: -60px;
    transition-delay: 0.05s;
}

.menu.open .button:nth-of-type(3) {
    bottom: -90px;
    right: 50px;
    transition-delay: 0.05s;
}

.menu.open .button:last-of-type {
    bottom: 0px;
    right: -100px;
    transition-delay: 0.1s;
}

.button {
    padding: 25px;
    border-radius: 50%;
    cursor: pointer;
    background: #e8e8f3;
    position: absolute;
    bottom: 0;
    right: 0;
    opacity: 0;
    pointer-events: none;
    box-shadow: inherit;
    transition: 0.2s cubic-bezier(0.18, 0.89, 0.32, 1.28), 0.2s ease opacity, 0.2s cubic-bezier(0.08, 0.82, 0.17, 1) transform;
}

.button:hover {
    transform: scale(1.1);
}

.background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    max-width: 100vw;
    max-height: 100vh;
    overflow-x: hidden;
    z-index: -10;
}

.pentahedron {
    position: absolute;
    width: 100%;
    height: 100%;
    fill: #3E82F7;
}

.point {
    fill: #8491A3;
}

.rhombus {
    fill: var(--react-blue);
    stroke: var(--react-blue);
}

.x {
    fill: #FDBD00;
}

.circle {
    fill: #ED412D;
}

svg {
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    transform: translateZ(0px);
    z-index: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
    overflow-x: hidden;
    position: relative;
    scroll-snap-type: y mandatory;
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */
    z-index: 99999999;
}

.container::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}

#container-iframe {
    width: 90vw !important;
    height: 90vh;
    position: absolute;
    z-index: 999999999999;
}

#cc-iframe {
    display: none;
}

#cc-info {
    position: relative;
    padding-top: 35%;
}

#cc-info p {
    font-size: 1.25rem;
    text-align: left;
    padding-bottom: 30px;
}

#closeButton {
    position: absolute;
    top: 0;
    right: 0;
    height: 30px;
    padding: 0 10px;
}

#closeButton,
#siteButton,
#siteCode {
    align-items: center;
    background-color: #fff;
    border: 1px solid #000;
    box-sizing: border-box;
    color: #000;
    cursor: pointer;
    display: flex;
    fill: #000;
    font-size: 16px;
    font-weight: 600;
    height: 48px;
    justify-content: center;
    letter-spacing: -.8px;
    line-height: 24px;
    outline: 0;
    margin: 10px 0;
    padding: 0 17px;
    text-align: center;
    text-decoration: none;
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
}

#closeButton:focus,
#siteButton:focus,
#siteCode:focus {
    color: #171e29;
}

#closeButton:hover,
#siteButton:hover,
#siteCode:hover,
#ccHeader a:hover {
    border-color: #06f;
    color: #06f;
    fill: #06f;
}

#closeButton:active,
#siteButton:active,
#siteCode:active,
#ccHeader a:active {
    border-color: #06f;
    color: #06f;
    fill: #06f;
}

#ccHeader {
    font-weight: bold;
    font-size: 1.1rem;
    position: absolute;
    text-decoration: none;
    top: 1%;
}

#HTML5 {
    display: none;
}

#lifeduHeader {
    font-weight: bold;
    font-size: 2rem;
    position: absolute;
    text-decoration: none;
    top: 3%;
}

.child {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */
    height: 100vh;
    width: 90%;
}

.about,
.projects,
#skills,
#contact,
#container-iframe {
    background-color: #FFF;
    border-radius: 10px;
    /* box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px; */
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px; */
    box-shadow: rgba(36, 50, 90, 0.6) 0px 20px 30px -10px;
    /* box-shadow: blue 0px 0px 0px 2px inset, rgb(255, 255, 255) 10px -10px 0px -3px, rgb(31, 193, 27) 10px -10px, rgb(255, 255, 255) 20px -20px 0px -3px, rgb(255, 217, 19) 20px -20px, rgb(255, 255, 255) 30px -30px 0px -3px, rgb(255, 156, 85) 30px -30px, rgb(255, 255, 255) 40px -40px 0px -3px, rgb(255, 85, 85) 40px -40px; */
    color: #24212A;
    font-family: 'Cabin', cursive;
    text-align: center;
    margin: 5% 0;
    padding: 10%;
    width: 90%;
}

.about h1 {
    font-weight: bold;
    font-size: 1.9rem;
    text-align: left;
}

.bio {
    font-family: 'Nunito', sans-serif;
    line-height: 1.2rem;
    margin: 5% 0;
    text-align: left;
}

.name,
.bio {
    display: inline-block;
}

#selfie {
    animation: border-transform 7s linear infinite;
    background-color: #D0D6DA;
    box-shadow:
        7.2px 10.1px 0px rgba(0, 0, 0, 0.07),
        8.6px 12px 0px rgba(0, 0, 0, 0.03),
        9.4px 13.2px 0px rgba(0, 0, 0, 0.021),
        10px 14px 0px rgba(0, 0, 0, 0.015);
    height: 200px;
    width: 200px;
}

.projects {
    font-size: 2.5rem;
    font-weight: bold;
}

.projects h2 {
    margin-bottom: 15%;
}

.project {
    display: inline-block;
    vertical-align: top;
}

.projects img {
    height: auto;
    max-height: 100px;
    margin: 10% 0;
    width: 100px;
}

.projects img:hover,
.social-media i:hover {
    transform: scale(1.8);
    transition: 0.5s;
}

.projects i {
    color: var(--react-blue);
    font-size: 100px;
}

#skills h3 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10%;
}

.all-skills {
    display: inline-grid;
    grid-template-columns: 50% 50%;
    max-width: 750px;
    padding: 5%;
    width: 100%;
}

.one-skill {
    margin: 10%;
}


.one-skill i {
    font-size: 64px;
}

#contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50vh;
}

#contact h4 {
    font-size: 2rem;
    font-weight: bold;
}

#contact a {
    text-decoration: none;
}

#contact img {
    height: 50px;
    width: 50px;
}

.links {
    display: inline-grid;
    margin: 10% 0;
}

.links a {
    font-size: 1em;
    margin: 5% 0;
}

.social-media {
    font-size: 48px;
    width: 100%;
}

.social-media a {
    color: #24212A;
    margin: 10% 0;
}

@media (min-width: 768px) {

    #container-iframe {
        top: 0;
        height: 90vh;
        padding: 1% 4%;
    }

    #lifeduHeader {
        font-size: 3rem;
    }

    #ccHeader a {
        font-size: 3rem;
        text-decoration: none;
        top: 2%;
    }

    #cc-info {
        height: 100%;
        padding-top: 10%;
    }

    #cc-info p {
        padding: 2% 0;
    }

    #cc-iframe {
        display: block;
        height: 55%;
        width: 90%;
    }

    #HTML5,
    #WP,
    #CSS3,
    #JS,
    #FileZilla {
        display: block;
        max-height: 50px;
        max-width: 50px;
        position: absolute;
        right: 0;
    }

    #HTML5 {
        top: 10%;
    }

    #WP {
        top: 30%;
    }

    #CSS3 {
        top: 20%;
        right: 1%;
    }

    #JS {
        top: 30%;
    }

    #FileZilla {
        top: 40%;
    }

    #closeButton {
        font-size: 1.5rem;
        min-width: 75px;
    }

    #siteButton,
    #siteCode {
        display: inline-flex;
        font-size: 1.5rem;
        margin: 0 5%;
        min-width: 250px;
    }

    .about {
        display: inline-grid;
        grid-template-columns: 65% 35%;
        max-width: 750px;
        padding: 5%;
    }

    .about h1 {
        font-size: 3rem;
    }

    .name {
        grid-column-start: 1;
        grid-column-end: 2;
    }

    .bio {
        grid-column-start: 1;
        line-height: 2rem;
        margin: 5% 0;
    }

    .selfie {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 3;
    }

    #selfie {
        margin: 20% 0;
    }

    .projects,
    #skills,
    #contact {
        padding: 5% 0;
        max-width: 750px;
    }

    .project {
        width: 100%;
    }

    .projects h2 {
        font-size: 4rem;
        margin-bottom: 5%;
    }

    .projects img {
        margin: 7%;
        max-height: 125px;
        width: 125px;
    }

    #centercentre {
        margin: 0% 7% 11% 7%;
    }

    #skills h3 {
        font-size: 4rem;
        margin-bottom: 0;
    }

    .all-skills {
        grid-template-columns: 25% 25% 25% 25%;
    }

    .one-skill {
        margin: 15% 10%;
    }

    .one-skill h5 {
        font-size: 1.5rem;
        margin-bottom: 10%;
    }

    #contact {
        font-size: 1.5rem;
    }

    #contact h4 {
        font-size: 3rem;
    }

    .links {
        margin: 5% 0;
    }

    #info {
        width: 100%;
    }

    #contact img {
        height: 75px;
        width: 75px;
    }

    .social-media i {
        margin: 0 5%;
    }
}

@media (min-width: 1024px) {
    .slides {
        width: 80%;
    }

    .about {
        height: auto;
        grid-template-columns: 50% 50%;
        max-height: 75vh;
        max-width: 950px;
        padding: 5%;
    }

    #container-iframe {
        margin: 2% 0;
        max-height: 1000px;
        max-width: 1000px;
        padding: 0 4%;
    }

    #ccHeader {
        top: 4%;
    }

    #closeButton {
        top: 2%;
    }

    #cc-info p {
        font-size: 1.4rem;
    }

    #HTML5 {
        top: 12%;
    }

    #WP {
        top: 32%;
    }

    #CSS3 {
        top: 22%;
        right: 1%;
    }

    #JS {
        top: 32%;
    }

    #FileZilla {
        top: 42%;
    }

    .projects,
    #skills,
    #contact {
        height: auto;
        max-height: 75vh;
        max-width: 900px;
    }

    .bio {
        font-size: 1.5rem;
    }

    #selfie {
        height: 300px;
        margin: 8% 0;
        width: 300px;
    }

    .projects img {
        margin: 2% 3%;
    }

    #centercentre {
        margin: 0% 2% 6% 2%;
    }

    #contact h4 {
        font-size: 4rem;
    }

    .social-media {
        font-size: 64px;
    }

    .links {
        font-size: 2rem;
    }
}

@keyframes border-transform {

    0%,
    100% {
        border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%;
    }

    14% {
        border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%;
    }

    28% {
        border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%;
    }

    42% {
        border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%;
    }

    56% {
        border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%;
    }

    70% {
        border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%;
    }

    84% {
        border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%;
    }
}