* {
    box-sizing: border-box;
}

body {
    align-items: center;
    background: -moz-radial-gradient(center, ellipse cover, #edf3f8 1%, #dee3e8 100%);
    background: -webkit-radial-gradient(center, ellipse cover, #edf3f8 1%, #dee3e8 100%);
    background: radial-gradient(ellipse at center, #edf3f8 1%, #dee3e8 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}

html::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}

:root {
    --react-blue: #61DBFB;
}

a {
    color: #000;
    font-family: 'Cabin', cursive;
    font-style: italic !important;
    font-weight: bold !important;
}

h1,
h2,
h3,
h4 {
    color: #24212A;
    font-family: 'Cabin', cursive;
}

.menu {
    position: sticky;
    top: 20px;
    padding: 30px;
    background: #FFF;
    border-radius: 100%;
    cursor: pointer;
    box-shadow: 7px 7px 15px rgba(36, 50, 90, 0.3), -7px -7px 20px rgba(255, 255, 255, 1), inset 0px 0px 4px rgba(255, 255, 255, 0.2), inset 7px 7px 15px rgba(55, 84, 170, 0), inset -7px -7px 20px rgba(255, 255, 255, 0), 0px 0px 4px rgba(255, 255, 255, 0);
}

.menu::before,
.menu::after {
    content: "";
    background: #171818;
    border-radius: 5px;
    width: 30px;
    height: 5px;
    position: absolute;
    left: 16px;
    top: 27px;
    transition: 0.2s ease;
    z-index: 1;
}

.menu::before {
    transform: rotate(0deg);
}

.menu::after {
    transform: rotate(-90deg);
}

.menu.open {
    opacity: 0.9;
}

.menu.open::before {
    transform: rotate(45deg);
}

.menu.open::after {
    transform: rotate(-45deg);
}

.menu.open .button a {
    opacity: 1;
    pointer-events: auto;
}

.menu.open .button-link-1 {
    bottom: 0px;
    right: 100px;
}

.menu.open .button-link-2 {
    bottom: -100px;
    right: -5px;
}

.menu.open .button-link-3 {
    bottom: 0px;
    right: -100px;
    transition-delay: 0.1s;
}

.button a {
    padding: 25px;
    border-radius: 50%;
    cursor: pointer;
    background: #c7c7cf;
    position: absolute;
    bottom: 0;
    right: 0;
    opacity: 0;
    pointer-events: none;
    box-shadow: inherit;
    transition: 0.2s cubic-bezier(0.18, 0.89, 0.32, 1.28), 0.2s ease opacity, 0.2s cubic-bezier(0.08, 0.82, 0.17, 1) transform;
}

.background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    max-width: 100vw;
    height: auto;
    overflow-x: hidden;
    z-index: -10;
}

.pentahedron {
    position: absolute;
    width: 100%;
    height: 100%;
    fill: #3E82F7;
}

.point {
    fill: #8491A3;
}

.rhombus {
    fill: var(--react-blue);
    stroke: var(--react-blue);
}

.x {
    fill: #FDBD00;
}

.circle {
    fill: #ED412D;
}

svg {
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    transform: translateZ(0px);
    z-index: 0;
}

#container {
    position: relative;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    position: relative;
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */
    z-index: 99999999;
}

.container::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}

#closeButton,
#siteButton,
#siteCode {
    align-items: center;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 20px;
    box-sizing: border-box;
    color: #000;
    cursor: pointer;
    display: flex;
    fill: #000;
    font-size: 16px;
    font-weight: 600;
    height: 48px;
    justify-content: center;
    letter-spacing: -.8px;
    line-height: 24px;
    outline: 0;
    margin: 10px 0;
    padding: 0 17px;
    text-align: center;
    text-decoration: none;
    transition: all .3s;
    user-select: none;
    letter-spacing: 0.5px;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
}

#closeButton:focus,
#siteButton:focus,
#siteCode:focus {
    color: #171e29;
}

#closeButton:hover,
#siteButton:hover,
#siteCode:hover,
#ccHeader a:hover {
    border-color: #06f;
    color: #06f;
    fill: #06f;
}

#closeButton:active,
#siteButton:active,
#siteCode:active,
#ccHeader a:active {
    border-color: #06f;
    color: #06f;
    fill: #06f;
}

.child {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */
    margin: 5% 0;
    width: 90%;
}

.about,
.projects,
#skills,
.projects-card {
    background-color: #FFF;
    border-radius: 10px;
    /* box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px; */
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px; */
    box-shadow: rgba(36, 50, 90, 0.6) 0px 20px 30px -10px;
    /* box-shadow: blue 0px 0px 0px 2px inset, rgb(255, 255, 255) 10px -10px 0px -3px, rgb(31, 193, 27) 10px -10px, rgb(255, 255, 255) 20px -20px 0px -3px, rgb(255, 217, 19) 20px -20px, rgb(255, 255, 255) 30px -30px 0px -3px, rgb(255, 156, 85) 30px -30px, rgb(255, 255, 255) 40px -40px 0px -3px, rgb(255, 85, 85) 40px -40px; */
    color: #24212A;
    font-family: 'Cabin', cursive;
    text-align: center;
    margin: 5% 0;
    padding: 10%;
    width: 90%;
}

.about {
    background-image: url('./img/selfie-201.png');
    background-position: right bottom;
    background-size: 75%;
    background-repeat: no-repeat;
    padding: 5% 10%;
}

.about h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 1.9rem;
    line-height: 3rem;
    text-align: left;
    text-decoration: none;
}

.about span {
    font-weight: bold;
}

.bio {
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;
    margin: 5% 0;
    text-align: left;
    width: 100%;
}

.bio p {
    padding-bottom: 5%;
}

#selfie {
    background-color: #D0D6DA;
    border: 2px solid rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    box-shadow:
        7.2px 10.1px 0px rgba(0, 0, 0, 0.07),
        8.6px 12px 0px rgba(0, 0, 0, 0.03),
        9.4px 13.2px 0px rgba(0, 0, 0, 0.021),
        10px 14px 0px rgba(0, 0, 0, 0.015);
    height: 200px;
    width: 200px;
}

.projects,
.projects-card {
    font-size: 2.5rem;
    font-weight: bold;
}

.projects h3,
.projects-card h3 {
    font-size: 1.1rem;
    margin-bottom: 5%;
    text-align: left;
}

.projects p,
.projects-card p {
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1.2rem;
    margin-bottom: 5%;
    text-align: left;
}

.project {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5% 0;
}

.project a {
    margin: 5%;
}

.project-images {
    border: 1px solid #BDBCCB;
    border-radius: 5%;
    cursor: pointer;
    height: 100px;
    transition: 0.3s;
    width: 150px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#zendesk-wallpaper {
    background-image: url('./img/zendesk-wallpaper.png');
}

#thelifedu-wallpaper {
    background-image: url('./img/henry-life-edu.png');
}

#centercentre-wallpaper {
    background-image: url('./img/centercentre-wallpaper.png');
}

.project-images:hover,
.social-media i:hover {
    transform: scale(1.2);
    transition: 0.5s;
}

.projects i,
.projects-card i {
    color: var(--react-blue);
    font-size: 100px;
}

#skills h3 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10%;
}

.all-skills {
    display: inline-grid;
    grid-template-columns: 50% 50%;
    max-width: 750px;
    padding: 5%;
    width: 100%;
}

.one-skill {
    margin: 10%;
}

.one-skill i {
    font-size: 64px;
}

.links {
    margin: 10% 0;
}

.links a {
    font-size: 1em;
    margin: 5% 0;
}

.social-media {
    font-size: 36px;
    width: 20%;
}

.social-media a {
    color: #24212A;
    margin: 10% 0;
    text-decoration: none;
}

.social-media i {
    margin: 30% 0;
    transition: 0.3s;
}

@media (min-width: 768px) {

    .container {
        justify-content: flex-end;
        margin-right: 5%;
    }

    .menu {
        left: 10px;
    }

    .menu.open .button-link-1 {
        bottom: 0px;
        right: -100px;
    }

    .menu.open .button-link-2 {
        bottom: 0px;
        right: -200px;
    }

    .menu.open .button-link-3 {
        bottom: 0px;
        right: -300px;
    }

    #siteButton,
    #siteCode {
        display: inline-flex;
        font-size: 1.5rem;
        margin: 0 5%;
        min-width: 250px;
    }

    .about {
        background-size: 75%;
        background-position: right -50% bottom;
        max-width: 750px;
        padding: 2%;
    }

    .about h1 {
        font-size: 4rem;
        line-height: 5rem;
    }

    .name {
        grid-column-start: 1;
        grid-column-end: 2;
    }

    .bio {
        grid-column-start: 1;
        line-height: 2rem;
        width: 43%;
    }

    .selfie {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 3;
    }

    #selfie {
        margin: 20% 0;
    }

    .projects,
    #skills,
    .projects-card {
        padding: 5%;
        max-width: 750px;
    }

    .project {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .project-images {
        height: 200px;
        width: 275px;
    }

    .projects h3,
    .projects-card h3 {
        font-size: 2rem;
        margin: 2% 0;
    }

    .projects p,
    .projects-card p {
        font-size: 1.5rem;
        line-height: 2rem;
        margin-bottom: 0;
    }

    .projects-iframes iframe {
        height: 300px !important;
    }

    .buttons {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 5% 0 2% 0;
    }

    .all-skills {
        grid-template-columns: 25% 25% 25% 25%;
    }

    .one-skill {
        margin: 15% 10%;
    }

    .one-skill h5 {
        font-size: 1.5rem;
        margin-bottom: 10%;
    }

    .links {
        margin: 5% 0;
    }

    #info {
        width: 100%;
    }

    .social-media {
        width: 100%;
    }

    .social-media i {
        margin: 0 5%;
    }
}

@media (min-width: 1024px) {

    .container {
        justify-content: flex-start;
        margin-right: 0;
    }

    .menu {
        padding: 45px;
        left: 45px;
    }

    .menu::before,
    .menu::after {
        top: 42px;
        left: 22px;
        width: 45px;
    }

    .button a {
        padding: 30px;
    }

    .child {
        margin: 0 auto;
        width: 100%;
    }

    .slides {
        width: 80%;
    }

    .about {
        background-size: 40%;
        background-position: right bottom;
        height: auto;
        max-width: 920px;
        padding: 3%;
        margin-top: 3%;
    }

    .project {
        justify-content: space-between;
    }

    .projects,
    .projects-card {
        height: auto;
        max-width: 920px;
        padding: 3%;
        width: 920px;
    }

    .all-skills {
        padding: 0;
    }

    #skills {
        height: auto;
        max-width: 920px;
        padding: 3%;
        width: 920px;
    }

    #skills h3 {
        font-size: 4rem;
        margin-bottom: 0;
    }

    .one-skill h5 {
        font-size: 2rem;
    }

    .one-skill i {
        font-size: 124px;
    }

    .projects h3 {
        font-size: 3rem;
    }

    .projects-iframes iframe {
        height: 450px !important;
    }

    #siteButton,
    #siteCode {
        font-size: 2rem;
    }

    .buttons {
        width: 100%;
    }

    .bio {
        font-size: 1.35rem;
        margin: 0;
    }

    #selfie {
        height: 300px;
        margin: 8% 0;
        width: 300px;
    }

    .project {
        margin: 0;
    }

    .projects img {
        margin: 2% 3%;
    }

    .projects h2 {
        font-size: 4rem;
    }

    .projects-card p {
        line-height: 2.5rem;
        margin: 2% 0;
    }

    .social-media {
        text-align: left;
    }

    .social-media i {
        margin: 0 1%;
    }

    .links {
        font-size: 2rem;
    }
}