/*------------------------------------*\
    INDEX
\*------------------------------------*/

/*
NAVBAR
CHILD
INTRODUCTION CARD
PROJECTS GALLERY
PROJECTS CARD
SKILLS

TABLET SIZES

DESKTOP AND ABOVE SIZES

*/

* {
    box-sizing: border-box;
}

body {
    align-items: center;
    background: -moz-radial-gradient(center, ellipse cover, #edf3f8 1%, #dee3e8 100%);
    background: -webkit-radial-gradient(center, ellipse cover, #edf3f8 1%, #dee3e8 100%);
    background: radial-gradient(ellipse at center, #edf3f8 1%, #dee3e8 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}

html::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}

:root {
    --react-blue: #61DBFB;
}

a {
    color: #000;
    font-family: 'Cabin', cursive;
    font-style: italic !important;
    font-weight: bold !important;
}

h1,
h2,
h3,
h4 {
    color: #24212A;
    font-family: 'Cabin', cursive;
}

/*------------------------------------*\
    NAVBAR
\*------------------------------------*/

.menu {
    position: sticky;
    top: 20px;
    padding: 30px;
    background: #FFF;
    border-radius: 100%;
    cursor: pointer;
    box-shadow: 7px 7px 15px rgba(36, 50, 90, 0.3), -7px -7px 20px rgba(255, 255, 255, 1), inset 0px 0px 4px rgba(255, 255, 255, 0.2), inset 7px 7px 15px rgba(55, 84, 170, 0), inset -7px -7px 20px rgba(255, 255, 255, 0), 0px 0px 4px rgba(255, 255, 255, 0);
    z-index: 9999999;
}

.menu::before,
.menu::after {
    content: "";
    background: #171818;
    border-radius: 5px;
    width: 30px;
    height: 5px;
    position: absolute;
    left: 16px;
    top: 27px;
    transition: 0.2s ease;
    z-index: 1;
}

.menu::before {
    transform: rotate(0deg);
}

.menu::after {
    transform: rotate(-90deg);
}

.menu.open {
    opacity: 0.9;
}

.menu.open::before {
    transform: rotate(45deg);
}

.menu.open::after {
    transform: rotate(-45deg);
}

.menu.open .button a {
    opacity: 1;
    pointer-events: auto;
}

.menu.open .button-link-1 {
    bottom: 0px;
    right: 100px;
}

.menu.open .button-link-2 {
    bottom: -100px;
    right: -5px;
}

.menu.open .button-link-3 {
    bottom: 0px;
    right: -100px;
    transition-delay: 0.1s;
}

.button a {
    padding: 25px;
    border-radius: 50%;
    cursor: pointer;
    background: #c7c7cf;
    position: absolute;
    bottom: 0;
    right: 0;
    opacity: 0;
    pointer-events: none;
    box-shadow: inherit;
    transition: 0.2s cubic-bezier(0.18, 0.89, 0.32, 1.28), 0.2s ease opacity, 0.2s cubic-bezier(0.08, 0.82, 0.17, 1) transform;
}

/*------------------------------------*\
    END OF NAVBAR
\*------------------------------------*/

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    position: relative;
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */
    z-index: 99999999;
}

.container::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}

/*------------------------------------*\
    CHILD (CARDS CONTAINER)
\*------------------------------------*/

.child {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */
    margin: 5% 0;
    width: 90%;
}

.about,
.projects-gallery,
#skills,
.projects-card {
    background-color: #FFF;
    border-radius: 10px;
    box-shadow: rgba(36, 50, 90, 0.6) 0px 20px 30px -10px;
    color: #24212A;
    font-family: 'Cabin', cursive;
    text-align: center;
    margin: 5% 0;
    padding: 10%;
    width: 90%;
}

/*------------------------------------*\
    INTRODUCTION CARD
\*------------------------------------*/

.about {
    background-image: url('./img/selfie-201.png');
    background-position: right bottom;
    background-size: 75%;
    background-repeat: no-repeat;
    padding: 5% 10%;
}

.about h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 1.9rem;
    line-height: 3rem;
    text-align: left;
    text-decoration: none;
}

.about span {
    font-weight: bold;
}

.bio {
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;
    margin: 5% 0;
    text-align: left;
    width: 100%;
}

.bio p {
    padding-bottom: 5%;
}

#selfie {
    background-color: #D0D6DA;
    border: 2px solid rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    box-shadow:
        7.2px 10.1px 0px rgba(0, 0, 0, 0.07),
        8.6px 12px 0px rgba(0, 0, 0, 0.03),
        9.4px 13.2px 0px rgba(0, 0, 0, 0.021),
        10px 14px 0px rgba(0, 0, 0, 0.015);
    height: 200px;
    width: 200px;
}

.social-media {
    font-size: 36px;
    width: 20%;
}

.social-media a {
    color: #24212A;
    margin: 10% 0;
    text-decoration: none;
}

.social-media i {
    margin: 30% 0;
    transition: 0.3s;
}

/*------------------------------------*\
    END OF INTRODUCTION CARD
\*------------------------------------*/

/*------------------------------------*\
    PROJECTS GALLERY
\*------------------------------------*/

.projects-gallery,
.projects-card {
    font-size: 2.5rem;
    font-weight: bold;
}

.projects-gallery h3,
.projects-card h3 {
    font-size: 1.1rem;
    margin-bottom: 5%;
    text-align: left;
}

.projects-gallery p,
.projects-card p {
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1.2rem;
    margin-bottom: 5%;
    text-align: left;
}

.gallery-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5% 0;
}

.gallery-cards a {
    margin: 5%;
}

.gallery-images {
    border: 1px solid #BDBCCB;
    border-radius: 5%;
    cursor: pointer;
    height: 100px;
    transition: 0.3s;
    width: 150px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#zendesk-wallpaper {
    background-image: url('./img/zendesk-wallpaper.png');
}

#thelifedu-wallpaper {
    background-image: url('./img/henry-life-edu.png');
}

#centercentre-wallpaper {
    background-image: url('./img/centercentre-wallpaper.png');
}

#aycl-wallpaper {
    background-color: #950300;
    background-image: url('./img/aycl.png');
    background-size: 90%;
}

#neurogym-wallpaper {
    background-image: url('./img/neurogym.png');
}

#mern-wallpaper {
    background-image: url('./img/proshop.png');
}

#neurogymfigma {
    display: none;
}

/*------------------------------------*\
    END OF PROJECTS CARD
\*------------------------------------*/

/*------------------------------------*\
    PROJECTS CARD
\*------------------------------------*/

.projects-card {
    opacity: 0;
    transition: opacity 1s ease-out;
}

.projects-card.fade-in {
    opacity: 1;
}

.gallery-images:hover,
.social-media i:hover {
    transform: scale(1.2);
    transition: 0.5s;
}

.projects-gallery i,
.projects-card i {
    color: var(--react-blue);
    font-size: 100px;
}

#closeButton,
#siteButton,
#siteCode {
    align-items: center;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 20px;
    box-sizing: border-box;
    color: #000;
    cursor: pointer;
    display: flex;
    fill: #000;
    font-size: 16px;
    font-weight: 600;
    height: 48px;
    justify-content: center;
    letter-spacing: -.8px;
    line-height: 24px;
    outline: 0;
    margin: 10px 0;
    padding: 0 17px;
    text-align: center;
    text-decoration: none;
    transition: all .3s;
    user-select: none;
    letter-spacing: 0.5px;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
}

#closeButton:focus,
#siteButton:focus,
#siteCode:focus {
    color: #171e29;
}

#closeButton:hover,
#siteButton:hover,
#siteCode:hover,
#ccHeader a:hover {
    border-color: #06f;
    color: #06f;
    fill: #06f;
}

#closeButton:active,
#siteButton:active,
#siteCode:active,
#ccHeader a:active {
    border-color: #06f;
    color: #06f;
    fill: #06f;
}

#skills h3 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10%;
}

/*------------------------------------*\
    END OF PROJECTS CARD
\*------------------------------------*/

/*------------------------------------*\
    SKILLS
\*------------------------------------*/

.all-skills {
    display: inline-grid;
    grid-template-columns: 50% 50%;
    max-width: 750px;
    padding: 5%;
    width: 100%;
}

.one-skill {
    margin: 10%;
}

.one-skill i {
    font-size: 64px;
}

/*------------------------------------*\
    END OF SKILLS
\*------------------------------------*/

/*------------------------------------*\
    TABLET
\*------------------------------------*/

@media (min-width: 768px) {

    .container {
        justify-content: flex-end;
        margin-right: 5%;
    }

    /*------------------------------------*\
        NAVBAR
    \*------------------------------------*/

    .menu {
        left: 10px;
    }

    .menu.open .button-link-1 {
        bottom: 0px;
        right: -100px;
    }

    .menu.open .button-link-2 {
        bottom: 0px;
        right: -200px;
    }

    .menu.open .button-link-3 {
        bottom: 0px;
        right: -300px;
    }

    /*------------------------------------*\
        END OF NAVBAR
    \*------------------------------------*/

    /*------------------------------------*\
        INTRODUCTION CARD
    \*------------------------------------*/

    .about {
        background-size: 75%;
        background-position: right -50% bottom;
        max-width: 750px;
        padding: 2%;
    }

    .about h1 {
        font-size: 4rem;
        line-height: 5rem;
    }

    .name {
        grid-column-start: 1;
        grid-column-end: 2;
    }

    .bio {
        grid-column-start: 1;
        line-height: 2rem;
        width: 43%;
    }

    .selfie {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 3;
    }

    #selfie {
        margin: 20% 0;
    }

    .projects-gallery,
    #skills,
    .projects-card {
        padding: 5%;
        max-width: 750px;
    }

    #info {
        width: 100%;
    }

    .social-media {
        width: 100%;
    }

    .social-media i {
        margin: 0 5%;
    }

    /*------------------------------------*\
        END OF INTRODUCTION CARD
    \*------------------------------------*/

    /*------------------------------------*\
        PROJECT GALLERY
    \*------------------------------------*/

    .gallery-cards {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .gallery-images {
        height: 200px;
        width: 275px;
    }

    /*------------------------------------*\
        END OF PROJECT GALLERY
    \*------------------------------------*/

    /*------------------------------------*\
        END OF PROJECT CARDS
    \*------------------------------------*/

    .projects-gallery h3,
    .projects-card h3 {
        font-size: 2rem;
        margin: 2% 0;
    }

    .projects-gallery p,
    .projects-card p {
        font-size: 1.5rem;
        line-height: 2rem;
        margin-bottom: 0;
    }

    .projects-iframes iframe {
        height: 300px !important;
    }

    .buttons {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 5% 0 2% 0;
    }

    #siteButton,
    #siteCode {
        display: inline-flex;
        font-size: 1.5rem;
        margin: 0 5%;
        min-width: 250px;
    }

    /*------------------------------------*\
        END OF PROJECT CARDS
    \*------------------------------------*/

    /*------------------------------------*\
        SKILLS
    \*------------------------------------*/

    .all-skills {
        grid-template-columns: 25% 25% 25% 25%;
    }

    .one-skill {
        margin: 15% 10%;
    }

    .one-skill h5 {
        font-size: 1.5rem;
        margin-bottom: 10%;
    }

    /*------------------------------------*\
        END OF SKILLS
    \*------------------------------------*/
}

/*------------------------------------*\
    DESKTOP
\*------------------------------------*/

@media (min-width: 1024px) {

    .container {
        justify-content: flex-start;
        margin-right: 0;
    }

    /*------------------------------------*\
        NAVBAR
    \*------------------------------------*/

    .menu {
        padding: 45px;
        left: 45px;
    }

    .menu::before,
    .menu::after {
        top: 42px;
        left: 22px;
        width: 45px;
    }

    .button a {
        padding: 30px;
    }

    /*------------------------------------*\
        END OF NAVBAR
    \*------------------------------------*/

    /*------------------------------------*\
        CHILD
    \*------------------------------------*/

    .child {
        margin: 0 auto;
        width: 100%;
    }

    /*------------------------------------*\
        END OF CHILD
    \*------------------------------------*/

    /*------------------------------------*\
        INTRODUCTION CARD
    \*------------------------------------*/

    .about {
        background-size: 40%;
        background-position: right bottom;
        height: auto;
        max-width: 920px;
        padding: 3%;
        margin-top: 3%;
    }

    .buttons {
        width: 100%;
    }

    .bio {
        font-size: 1.35rem;
        margin: 0;
    }

    #selfie {
        height: 300px;
        margin: 8% 0;
        width: 300px;
    }

    .social-media {
        text-align: left;
    }

    .social-media i {
        margin: 0 1%;
    }

    /*------------------------------------*\
        END OF INTRODUCTION CARD
    \*------------------------------------*/

    /*------------------------------------*\
        PROJECTS GALLERY
    \*------------------------------------*/


    .gallery-cards {
        justify-content: space-between;
    }

    .projects-gallery,
    .projects-card {
        max-width: 920px;
        padding: 3%;
        width: 920px;
    }

    .gallery-cards {
        margin: 0;
    }

    .projects-gallery img {
        margin: 2% 3%;
    }

    .projects-gallery h2 {
        font-size: 4rem;
    }

    /*------------------------------------*\
        END OF PROJECTS GALLERY
    \*------------------------------------*/

    /*------------------------------------*\
        PROJECTS CARD
    \*------------------------------------*/

    .projects-gallery h3 {
        font-size: 3rem;
    }

    .projects-card p {
        line-height: 2.5rem;
        margin: 2% 0;
    }

    .projects-iframes iframe {
        height: 450px !important;
    }

    #siteButton,
    #siteCode {
        font-size: 2rem;
    }

    #neurogymfigma {
        display: block;
    }

    /*------------------------------------*\
        END OF PROJECTS CARD
    \*------------------------------------*/

    /*------------------------------------*\
        SKILLS
    \*------------------------------------*/

    .all-skills {
        padding: 0;
    }

    #skills {
        height: auto;
        max-width: 920px;
        padding: 3%;
        width: 920px;
    }

    #skills h3 {
        font-size: 4rem;
        margin-bottom: 0;
    }

    .one-skill h5 {
        font-size: 2rem;
    }

    .one-skill i {
        font-size: 124px;
    }

    /*------------------------------------*\
        END OF SKILLS
    \*------------------------------------*/
}